
/* ==========================================================================
   #FONT
   ========================================================================== */
.font-robo {
  font-family: "Roboto", "Arial", "Helvetica Neue", sans-serif;
}

/* ==========================================================================
   #GRID
   ========================================================================== */
.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.row-space {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.col-2 {
  width: -webkit-calc((100% - 60px) / 2);
  width: -moz-calc((100% - 60px) / 2);
  width: calc((100% - 60px) / 2);
}

@media (max-width: 767px) {
  .col-2 {
    width: 100%;
  }
}

/* ==========================================================================
   #BOX-SIZING
   ========================================================================== */
/**
 * More sensible default box-sizing:
 * css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
 */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/* ==========================================================================
   #RESET
   ========================================================================== */
/**
 * A very simple reset that sits on top of Normalize.css.
 */
body,
h1, h2, h3, h4, h5, h6,
blockquote, p, pre,
dl, dd, ol, ul,
figure,
hr,
fieldset, legend {
  margin: 0;
  padding: 0;
}

/**
 * Remove trailing margins from nested lists.
 */
li > ol,
li > ul {
  margin-bottom: 0;
}

/**
 * Remove default table spacing.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**
 * 1. Reset Chrome and Firefox behaviour which sets a `min-width: min-content;`
 *    on fieldsets.
 */
fieldset {
  min-width: 0;
  /* [1] */
  border: 0;
}

button {
  outline: none;
  background: none;
  border: none;
}

/* ==========================================================================
   #PAGE WRAPPER
   ========================================================================== */
.page-wrapper {
  min-height: 100vh;
}

body {
  font-family: "Roboto", "Arial", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 14px;
}


h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 15px;
}

h6 {
  font-size: 13px;
}

/* ==========================================================================
   #BACKGROUND
   ========================================================================== */
.bg-blue {
  background: #2c6ed5;
}

.main-bg{
  background-color: #935d8c;
  background-image: url("../img/overlay.png"), -moz-linear-gradient(45deg, #e37682 15%, #5f4d93 85%);
  background-image: url("../img/overlay.png"), -webkit-linear-gradient(45deg, #e37682 15%, #5f4d93 85%);
  background-image: url("../img/overlay.png"), -ms-linear-gradient(45deg, #e37682 15%, #5f4d93 85%);
  background-image: url("../img/overlay.png"), linear-gradient(45deg, #e37682 15%, #5f4d93 85%);
  /*background-image: url("../img/bg.png");*/
  padding-bottom: 100px;
  padding-top: 100px;
}
main-bg-3{
  background-color: #935d8c;
  background-image: url("../img/overlay.png"), -moz-linear-gradient(45deg, #e37682 15%, #5f4d93 85%);
  background-image: url("../img/overlay.png"), -webkit-linear-gradient(45deg, #e37682 15%, #5f4d93 85%);
  background-image: url("../img/overlay.png"), -ms-linear-gradient(45deg, #e37682 15%, #5f4d93 85%);
  background-image: url("../img/overlay.png"), linear-gradient(45deg, #e37682 15%, #5f4d93 85%);
  /*background-image: url("../img/bg.png");*/
}
.main-bg-2{
  background-color: #935d8c;
  background-image: url("../img/overlay.png"), -moz-linear-gradient(45deg, #e37682 15%, #5f4d93 85%);
  background-image: url("../img/overlay.png"), -webkit-linear-gradient(45deg, #e37682 15%, #5f4d93 85%);
  background-image: url("../img/overlay.png"), -ms-linear-gradient(45deg, #e37682 15%, #5f4d93 85%);
  background-image: url("../img/overlay.png"), linear-gradient(45deg, #e37682 15%, #5f4d93 85%);
  /*background-image: url("../img/bg.png");*/
  padding-bottom: 100px;
}
.bg-heading{
  background: url("../img/tepat.png") center/cover no-repeat;
  padding-top: 210px;
}

section.special, article.special {
  text-align: center;
}

.header {
  height: 150px;
  width: 100%;
  background-image: url(https://i.pinimg.com/originals/11/c0/d3/11c0d343176a014fe218a94786077c66.jpg);
  background-size: cover;
}

.nav-text{
  font-family: "Roboto Light";
  font-size: 20px;
  color: white;
}
.header ul {
  list-style-type:none;
  padding-top: 100px;
  padding-left: 5%;
}

.header li {
  float: left;
  margin: auto;
  padding:5px 10px;
}

.isi {
  background-color: #f1f2f6;
  width: 100%;
  float: left;
  height: 700px;
  padding-top: 30px;
}

.isi-info {
  background-color: #f1f2f6;
  float: left;
  width: 40%;
  margin-left: 120px;
  padding-top: 100px;
}

.isi-login {
  background-color: white;
  float: right;
  width: 20%;
  margin-right: 10%;
  border-radius: 5px;
  padding-left: 14px;
}

.lupa-sandi {
  border-top: 10px;
  border-bottom: 10px;
  margin-left: 90px;
  color:#24b0e3;
}

.header a:hover {
  color: #007aff;
}

.header a {
  color: #787b81;
}

h1 {
  color: #e48825;
}

h3 {
  color: #787b81;
}

/* ==========================================================================
   #SPACING
   ========================================================================== */
.p-t-20 {
  padding-top: 20px;
}

/* ==========================================================================
   #WRAPPER
   ========================================================================== */
.wrapper {
  margin: 0 auto;
}

.wrapper--w680 {
  max-width: 680px;
}

/* ==========================================================================
   #BUTTON
   ========================================================================== */
.btn {
  line-height: 40px;
  display: inline-block;
  padding: 0 25px;
  cursor: pointer;
  font-family: "Roboto", "Arial", "Helvetica Neue", sans-serif;
  color: #fff;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
  font-size: 14px;
  font-weight: 700;
}

.btn--radius {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.btn--green {
  background: #57b846;
}

.btn--green:hover {
  background: #4dae3c;
}
.btn--blue {
  background: #007aff;
}

.btn--blue:hover {
  background: #006fe1;
}

/* ==========================================================================
   #DATE PICKER
   ========================================================================== */

input[type="date" i] {
  padding: 14px;
}

.table-condensed td, .table-condensed th {
  font-size: 14px;
  font-family: "Roboto", "Arial", "Helvetica Neue", sans-serif;
  font-weight: 400;
}

.daterangepicker td {
  width: 40px;
  height: 30px;
}

.daterangepicker {
  border: none;
  -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  display: none;
  border: 1px solid #e0e0e0;
  margin-top: 5px;
}

.daterangepicker::after, .daterangepicker::before {
  display: none;
}

.daterangepicker thead tr th {
  padding: 10px 0;
}

.daterangepicker .table-condensed th select {
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 14px;
  padding: 5px;
  outline: none;
}

/* ==========================================================================
   #FORM
   ========================================================================== */
input {
  outline: none;
  margin: 0;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  width: 100%;
  font-size: 14px;
  font-family: inherit;
}

.input-group {
  position: relative;
  margin-bottom: 30px;
  border-bottom: 2px solid #ccc;
}

.input-icon {
  position: absolute;
  font-size: 18px;
  color: #ccc;
  right: 8px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
}

.input--style-1 {
  padding: 9px 0;
  color: #666;
}

.input--style-1::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #555;
}

.input--style-1:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #555;
  opacity: 1;
}

.input--style-1::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #555;
  opacity: 1;
}

.input--style-1:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #555;
}

.input--style-1:-ms-input-placeholder {
  /* Microsoft Edge */
  color: #555;
}

/* ==========================================================================
   #SELECT2
   ========================================================================== */
.select--no-search .select2-search {
  display: none !important;
}

.rs-select2 .select2-container {
  width: 100% !important;
  outline: none;
}

.rs-select2 .select2-container .select2-selection--single {
  outline: none;
  border: none;
  height: 34px;
}

.rs-select2 .select2-container .select2-selection--single .select2-selection__rendered {
  line-height: 34px;
  padding-left: 0;
  color: #555;
}

.rs-select2 .select2-container .select2-selection--single .select2-selection__arrow {
  height: 32px;
  right: 4px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.rs-select2 .select2-container .select2-selection--single .select2-selection__arrow b {
  display: none;
}

.rs-select2 .select2-container .select2-selection--single .select2-selection__arrow:after {
  font-family: "Material-Design-Iconic-Font";
  content: '\f2f9';
  font-size: 18px;
  color: #ccc;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.rs-select2 .select2-container.select2-container--open .select2-selection--single .select2-selection__arrow::after {
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.select2-container--open .select2-dropdown--below {
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  border: 1px solid #e0e0e0;
  margin-top: 5px;
  overflow: hidden;
}

/* ==========================================================================
   #TITLE
   ========================================================================== */
.title {
  margin-bottom: 37px;
}

/* ==========================================================================
   #CARD
   ========================================================================== */
.card {
  overflow: hidden;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #fff;
}

.card-1 {
  -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
}

.card-1 .card-heading {
  /*background: url("../images/bg-head-02.jpg") center center/cover no-repeat;*/
  padding-top: 210px;
}

.card-1 .card-body {
  padding: 0 90px;
  padding-top: 55px;
  padding-bottom: 65px;
}

@media (max-width: 767px) {
  .card-1 .card-body {
    padding: 0 40px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

#main {
  background-color: #ffffff;
  color: #636363;
  border-radius: 0.25em;
}

#main input, #main select, #main textarea {
  color: #636363;
}

#main a:hover {
  color: #636363;
}

#main strong, #main b {
  color: #636363;
}

#main h1, #main h2, #main h3, #main h4, #main h5, #main h6 {
  color: #636363;
}

#main blockquote {
  border-left-color: #dddddd;
}

#main code {
  background: rgba(222, 222, 222, 0.25);
  border-color: #dddddd;
}

#main hr {
  border-bottom-color: #dddddd;
}

.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #e9ecef;
  border-radius: .3rem
}
.mb-0, .my-0 {
  margin-bottom: 0 !important
}
.m-0 {
  margin: 0 !important
}
.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%
}
.carousel {
  position: relative
}
.display-4 {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2
}
.lead {
  font-size: 1.25rem;
  font-weight: 300
}

#main .box {
  border-color: #dddddd;
}

#main input[type="submit"],
#main input[type="reset"],
#main input[type="button"],
#main button,
#main .button {
  background-color: transparent;
  box-shadow: inset 0 0 0 1px #dddddd;
  color: #636363 !important;
}

#main input[type="submit"]:hover,
#main input[type="reset"]:hover,
#main input[type="button"]:hover,
#main button:hover,
#main .button:hover {
  background-color: rgba(222, 222, 222, 0.25);
}

#main input[type="submit"]:active,
#main input[type="reset"]:active,
#main input[type="button"]:active,
#main button:active,
#main .button:active {
  background-color: rgba(222, 222, 222, 0.5);
}

#main input[type="submit"].icon:before,
#main input[type="reset"].icon:before,
#main input[type="button"].icon:before,
#main button.icon:before,
#main .button.icon:before {
  color: rgba(99, 99, 99, 0.25);
}

#main input[type="submit"].primary,
#main input[type="reset"].primary,
#main input[type="button"].primary,
#main button.primary,
#main .button.primary {
  background-color: #8cc9f0;
  color: #ffffff !important;
  box-shadow: none;
}

#main input[type="submit"].primary:hover,
#main input[type="reset"].primary:hover,
#main input[type="button"].primary:hover,
#main button.primary:hover,
#main .button.primary:hover {
  background-color: #9acff2;
}

#main input[type="submit"].primary:active,
#main input[type="reset"].primary:active,
#main input[type="button"].primary:active,
#main button.primary:active,
#main .button.primary:active {
  background-color: #7ec3ee;
}

#main input[type="submit"].primary.icon:before,
#main input[type="reset"].primary.icon:before,
#main input[type="button"].primary.icon:before,
#main button.primary.icon:before,
#main .button.primary.icon:before {
  color: #ffffff !important;
}

#main label {
  color: #636363;
}

#main input[type="text"],
#main input[type="password"],
#main input[type="email"],
#main select,
#main textarea {
  background-color: rgba(222, 222, 222, 0.25);
  border-color: #dddddd;
}

#main input[type="text"]:focus,
#main input[type="password"]:focus,
#main input[type="email"]:focus,
#main select:focus,
#main textarea:focus {
  border-color: #8cc9f0;
  box-shadow: 0 0 0 1px #8cc9f0;
}

#main select {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' preserveAspectRatio='none' viewBox='0 0 40 40'%3E%3Cpath d='M9.4,12.3l10.4,10.4l10.4-10.4c0.2-0.2,0.5-0.4,0.9-0.4c0.3,0,0.6,0.1,0.9,0.4l3.3,3.3c0.2,0.2,0.4,0.5,0.4,0.9 c0,0.4-0.1,0.6-0.4,0.9L20.7,31.9c-0.2,0.2-0.5,0.4-0.9,0.4c-0.3,0-0.6-0.1-0.9-0.4L4.3,17.3c-0.2-0.2-0.4-0.5-0.4-0.9 c0-0.4,0.1-0.6,0.4-0.9l3.3-3.3c0.2-0.2,0.5-0.4,0.9-0.4S9.1,12.1,9.4,12.3z' fill='%23dddddd' /%3E%3C/svg%3E");
}

#main select option {
  color: #636363;
  background: #ffffff;
}

#main input[type="checkbox"] + label,
#main input[type="radio"] + label {
  color: #636363;
}

#main input[type="checkbox"] + label:before,
#main input[type="radio"] + label:before {
  background: rgba(222, 222, 222, 0.25);
  border-color: #dddddd;
}

#main input[type="checkbox"]:checked + label:before,
#main input[type="radio"]:checked + label:before {
  background-color: #636363;
  border-color: #636363;
  color: #ffffff;
}

#main input[type="checkbox"]:focus + label:before,
#main input[type="radio"]:focus + label:before {
  border-color: #8cc9f0;
  box-shadow: 0 0 0 1px #8cc9f0;
}

#main ::-webkit-input-placeholder {
  color: rgba(99, 99, 99, 0.25) !important;
}

#main :-moz-placeholder {
  color: rgba(99, 99, 99, 0.25) !important;
}

#main ::-moz-placeholder {
  color: rgba(99, 99, 99, 0.25) !important;
}

#main :-ms-input-placeholder {
  color: rgba(99, 99, 99, 0.25) !important;
}

#main .formerize-placeholder {
  color: rgba(99, 99, 99, 0.25) !important;
}

#main .icon.major {
  border-color: #dddddd;
}

#main .icon.major:before {
  border-color: #dddddd;
}

#main .icon.alt {
  border-color: #dddddd;
  color: #636363;
}

#main .icon.alt:hover {
  background-color: rgba(222, 222, 222, 0.25);
}

#main .icon.alt:active {
  background-color: rgba(222, 222, 222, 0.5);
}

#main ul.alt li {
  border-top-color: #dddddd;
}

#main dl dt {
  color: #636363;
}

#main header.major h2:after {
  background-color: #dddddd;
  background-image: -moz-linear-gradient(90deg, #efa8b0, #a89cc8, #8cc9f0);
  background-image: -webkit-linear-gradient(90deg, #efa8b0, #a89cc8, #8cc9f0);
  background-image: -ms-linear-gradient(90deg, #efa8b0, #a89cc8, #8cc9f0);
  background-image: linear-gradient(90deg, #efa8b0, #a89cc8, #8cc9f0);
}

#main table tbody tr {
  border-color: #dddddd;
}

#main table tbody tr:nth-child(2n + 1) {
  background-color: rgba(222, 222, 222, 0.25);
}

#main table th {
  color: #636363;
}

#main table thead {
  border-bottom-color: #dddddd;
}

#main table tfoot {
  border-top-color: #dddddd;
}

#main table.alt tbody tr td {
  border-color: #dddddd;
}

#main .spotlight .image {
  border-color: #dddddd;
}

#main > .main {
  padding: 5em 5em 3em 5em ;
  border-top: solid 1px #dddddd;
}

#main > .main:first-child {
  border-top: 0;
}

#main > .main > .image.main:first-child {
  margin: -5em 0 5em -5em;
  width: calc(100% + 10em);
  border-top-right-radius: 0.25em;
  border-top-left-radius: 0.25em;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

#main > .main > .image.main:first-child img {
  border-top-right-radius: 0.25em;
  border-top-left-radius: 0.25em;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

@media screen and (max-width: 1280px) {

  #main > .main {
    padding: 4em 4em 2em 4em ;
  }

  #main > .main > .image.main:first-child {
    margin: -4em 0 4em -4em;
    width: calc(100% + 8em);
  }

}

@media screen and (max-width: 980px) {

  #main > .main {
    padding: 4em 3em 2em 3em ;
  }

  #main > .main > .image.main:first-child {
    margin: -4em 0 4em -3em;
    width: calc(100% + 6em);
  }

}

@media screen and (max-width: 736px) {

  #main > .main {
    padding: 3em 2em 1em 2em ;
  }

  #main > .main > .image.main:first-child {
    margin: -3em 0 2em -2em;
    width: calc(100% + 4em);
  }

}

@media screen and (max-width: 480px) {

  #main > .main {
    padding: 3em 1.5em 1em 1.5em ;
  }

  #main > .main > .image.main:first-child {
    margin: -3em 0 1.5em -1.5em;
    width: calc(100% + 3em);
  }

}

@media screen and (max-width: 360px) {

  #main {
    border-radius: 0;
  }

  #main > .main {
    padding: 2.5em 1em 0.5em 1em ;
  }

  #main > .main > .image.main:first-child {
    margin: -2.5em 0 1.5em -1em;
    width: calc(100% + 2em);
    border-radius: 0;
  }

  #main > .main > .image.main:first-child img {
    border-radius: 0;
  }

}
